{% extends "mybase.html" %}
{% block title %}<title>Payment Details</title>{% endblock %}
{% block content %}
        {% block headline %}<h2> Payment of {{payment.date|date:"d.m.y"}}</h2>{% endblock %}
{% if payment %}
    <table>
        <tr> <td> Date </td> <td>{{payment.date|date:"d.m.Y"}}</td></tr>
        <tr> <td> Amount</td><td>{{payment.amount}}</td></tr>
        <tr> <td> Paid by student</td><td>{{payment.student}}</td></tr>
        <tr><td>More ...</td><td></td></tr>
        <tr> <td>Other payments of student</td>
              <td><a href="{% url 'studentpayments_detail' payment.student_id %} ">
                  {{payment.student}} </a>
              </td> </tr>
        <tr> <td>All details of student</td>
             <td><a href="{% url 'student_detail' payment.student_id %}" data-ajax="false">
                {{payment.student}} </a>
            </td> </tr>
    </table>
{% else %} no payment available
{% endif %}
{% endblock %}
