{% extends "mybase.html" %}
{% block title %}<title>Payments</title>{% endblock %}
{% block menu_class %}<div class="menu_pay">{% endblock %}
{% block content %}
        {% block headline %}<h2>Payments</h2>{% endblock %}
        <div id="by_date">
        <br \><br \>
        <a class="tabs" href="#by_student"><span>Forward to  by Student --> </span></a>
        <br \><br \>
        By Date:<br \><br \>
        {% if payment_list %}
            <table>
                <tr><th>Date</th> <th>Amount</th><th>Student</th><th>Total Payments</th></tr>
                {% for payment in payment_list %}
                <tr>
                    <td><a href="{% url 'payment_detail' payment.id %}">{{payment.date|date:"d.m.y"}}</a></td>
                    <td>{{payment.amount}}</td>
                    <td><a href="{% url 'student_detail' payment.student_id %}" data-ajax="false">{{payment.student}}</td>
                    <td><a href="{% url 'studentpayments_detail' payment.student_id %}">by</a> {{payment.student}}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            no payments available
        {% endif %}
        </div> <!--by_date -->
        <br \><br \>
        
        <div id="by_student">
        <br \><br \>
        <a class="tabs"  href="#by_date"><span> <-- Back to by Date</span></a>
        <br \><br \>

        By Student:<br \>
        {% if student_payment_list %}
            {% for student in student_payment_list %}
            <ul>
                <li><strong>
                    <a href="{% url 'student_detail' student.id %}" data-ajax="false">
                    {{student.last_name}} {{student.first_name}} </a>
                </strong>
                <br \>
                {{student.payment_count}} payment{{student.payment_count|pluralize}}
                </li>
                <ul>
                {% for p in student.payment_set.all %}
                    <li> {{p.amount}} - {{p.date|date:"d.m.Y"}}</li>
                    {% endfor %}
                </ul>
                <strong> sum: {{student.payment_sum}} </strong>
            </ul>
            {% endfor %}
        {% else %}:
            no students available
        {% endif %}
        </div> <!-- by_student -->

{% endblock %}
hallo
