{% extends "base.html" %}
{% block title %}Payments By Date{% endblock %}
{% block headline %} <h1> Payments By Date  </h1>{% endblock %}
{% block content %}
<table>
    <tr><th style="width:120px">Date</th> <th style="width:100px">Amount</th>
        <th style="width:120px">Student</th><th style="width:160px">Personal Payments</th></tr>
    {% for payment in payment_list %}
     <tr>
         <td><a href="{% url 'payment_detail' payment.id %}">{{payment.date|date:"d.m.Y"}}</a></td>
         <td>{{payment.amount}}</td>
         <td><a href="{% url 'student_detail' payment.student_id %}">{{payment.student}}</td>
         <td><a href="{% url 'studentpayments_detail' payment.student_id %}">by</a> {{payment.student}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
