{% extends "base.html" %}
{% block title %}Payments{% endblock %}
{% block headline %} <h1> All Payments Of All Students </h1>{% endblock %}
{% block content %}
{% if student_payment_list %}:
    {% for student in student_payment_list %}
     <ul>
        <li><strong>
                <a href="{% url 'student_detail' student.id %}">
                {{student.last_name}} {{student.first_name}} </a>
            </strong>
            <br \>
            {{student.payment_count}} payment{{student.payment_count|pluralize}}
        </li>
            <ul>
            {% for p in student.payment_set.all %}
                <li> {{p.amount}} - {{p.date|date:"d.m.Y"}}</li>
            {% endfor %}
        </ul>
        <strong> sum: {{student.payment_sum}} </strong>
    </ul>
    {% endfor %}

{% else %}:
    no students available
{% endif %}

{% endblock %}
