{% extends "base.html" %}
{% block title %}Students{% endblock %}
{% block headline %} <h1> List Of All Students </h1>{% endblock %}
{% block content %}
{% if student_list %}
<table>
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Salutation</th>
        <th>Birthdate</th>
        <th>Payments</th>
        <th>Classes</h>
    </tr>
    {% for student in student_list %}
    <tr>
        <td><a href="{% url 'student_detail' student.id %}">{{student.last_name}}</a></td>
        <td>{{student.first_name}}</td>
        <td>{{student.salutation}}</td>
        <td>{{student.birthdate|date:"d.m.Y"}}</td>
        <td style="text-align:center"><a href="{% url 'studentpayments_detail' student.id %}">
            {{student.payment_set.count}}</a> </td>
        <td style="text-align:center"><a href="{% url 'studentclasses_detail' student.id %}">
            {{student.class_set.count}}</a> </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>There are no students</p>
{% endif %}
{% endblock %}
